USE [master]
GO
/****** Object:  Database [DailyEntry]    Script Date: 24-09-2026 10:39:35 ******/
CREATE DATABASE [DailyEntry]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DailyEntry', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DailyEntry.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DailyEntry_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DailyEntry_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DailyEntry].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DailyEntry]
GO
/****** Object:  User [IIS APPPOOL\DailyEntryAppPool]    Script Date: 24-09-2026 10:39:35 ******/
CREATE USER [IIS APPPOOL\DailyEntryAppPool] FOR LOGIN [IIS APPPOOL\DailyEntryAppPool] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\DailyEntryAppPool]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\DailyEntryAppPool]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\DailyEntryAppPool]
GO
/****** Object:  UserDefinedTableType [dbo].[agent_work_type]    Script Date: 24-09-2026 10:39:35 ******/
CREATE TYPE [dbo].[agent_work_type] AS TABLE(
	[agent_work_id] [bigint] NULL,
	[work_master_id] [bigint] NULL,
	[agent_id] [bigint] NULL
)
GO
/****** Object:  Table [dbo].[bill]    Script Date: 24-09-2026 10:39:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[bill_id] [bigint] IDENTITY(1,1) NOT NULL,
	[bill_name] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 24-09-2026 10:39:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[customer_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](225) NULL,
	[mobile] [varchar](10) NULL,
	[bill_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[work_master]    Script Date: 24-09-2026 10:39:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[work_master](
	[work_master_id] [bigint] IDENTITY(1,1) NOT NULL,
	[work] [varchar](255) NULL,
	[fee] [decimal](10, 2) NULL,
	[service_charge] [decimal](10, 2) NULL,
	[tracking_link] [varchar](255) NULL,
	[default_status] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[work_master_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[work]    Script Date: 24-09-2026 10:39:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[work](
	[work_id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[work_master_id] [bigint] NOT NULL,
	[status_master_id] [bigint] NOT NULL,
	[application_id] [varchar](max) NULL,
	[total_amount] [decimal](10, 2) NULL,
	[received_amount] [decimal](10, 2) NULL,
	[balance_amount]  AS ([total_amount]-[received_amount]),
	[work_taken_date] [datetime] NULL,
	[fee] [decimal](10, 2) NULL,
	[profit] [decimal](10, 2) NULL,
	[description] [varchar](max) NULL,
	[agent_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[work_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_customerBill]    Script Date: 24-09-2026 10:39:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[vw_customerBill]  
as  
select   
b.bill_id, b.bill_name,  
c.customer_id, c.name, c.mobile,  
wm.work,  
w.total_amount, w.received_amount, w.balance_amount, w.work_taken_date  
from   
bill b  
join customer c on b.bill_id = c.bill_id  
join work w on c.customer_id = w.customer_id  
join work_master wm on w.work_master_id = wm.work_master_id
GO
/****** Object:  Table [dbo].[status_master]    Script Date: 24-09-2026 10:39:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status_master](
	[status_master_id] [bigint] IDENTITY(1,1) NOT NULL,
	[status] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[status_master_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Entry]    Script Date: 24-09-2026 10:39:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_Entry]  
as  
select  
    b.bill_id, b.bill_name,  
    c.customer_id, w.work_id, wm.work_master_id, s.status_master_id,  
    c.name, c.mobile,  
    wm.work,  
    s.status,  
    w.application_id, w.total_amount, w.received_amount, w.balance_amount, w.work_taken_date  
from bill b  
left join customer c on b.bill_id = c.bill_id  
left join work w on c.customer_id = w.customer_id  
left join work_master wm on w.work_master_id = wm.work_master_id  
left join status_master s on w.status_master_id = s.status_master_id
GO
/****** Object:  Table [dbo].[expense]    Script Date: 24-09-2026 10:39:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[expense](
	[expense_id] [bigint] IDENTITY(1,1) NOT NULL,
	[reason] [varchar](max) NOT NULL,
	[expense_date] [datetime] NOT NULL,
	[expense_description] [varchar](max) NULL,
	[expense_amount] [decimal](10, 2) NOT NULL,
	[expense_mode] [varchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DailyPL]    Script Date: 24-09-2026 10:39:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE VIEW [dbo].[vw_DailyPL]      
AS      
SELECT 
    'Expense' AS source_type,
    0 as balance_amount,
    expense_description AS description_or_name,
    expense_amount AS amount,
    reason AS detail_or_work,
    CAST(expense_date AS DATE) AS [date] 
FROM expense
UNION ALL
SELECT 
    'Work' AS source_type,
    w.balance_amount as balance_amount,
    c.name AS description_or_name,
    w.total_amount AS amount,
    wm.work AS detail_or_work,
    CAST(w.work_taken_date AS DATE) AS [date] 
FROM work w
JOIN work_master wm ON wm.work_master_id = w.work_master_id
JOIN customer c ON c.customer_id = w.customer_id
GO
/****** Object:  Table [dbo].[agent]    Script Date: 24-09-2026 10:39:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agent](
	[agent_id] [bigint] NOT NULL,
	[agent_name] [varchar](200) NULL,
	[agent_mobile] [varchar](10) NULL,
	[created_by] [varchar](200) NULL,
	[created_date] [datetime] NULL,
 CONSTRAINT [PK__agent__2C05379E5D96F6A2] PRIMARY KEY CLUSTERED 
(
	[agent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[agent_work]    Script Date: 24-09-2026 10:39:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agent_work](
	[agent_work_id] [bigint] NOT NULL,
	[work_master_id] [bigint] NULL,
	[agent_id] [bigint] NULL,
 CONSTRAINT [PK__agent_wo__D01FFADF4ED99877] PRIMARY KEY CLUSTERED 
(
	[agent_work_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transaction_master]    Script Date: 24-09-2026 10:39:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaction_master](
	[transaction_master_id] [bigint] IDENTITY(1,1) NOT NULL,
	[work_id] [bigint] NOT NULL,
	[mode] [varchar](100) NULL,
	[transaction_amount] [decimal](10, 2) NULL,
	[transaction_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_master_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[agent] ([agent_id], [agent_name], [agent_mobile], [created_by], [created_date]) VALUES (2, N'Alpha', N'8956311151', NULL, CAST(N'2026-08-26T12:02:11.320' AS DateTime))
INSERT [dbo].[agent] ([agent_id], [agent_name], [agent_mobile], [created_by], [created_date]) VALUES (4, N'Ziyaul', N'', NULL, CAST(N'2026-08-28T11:51:58.530' AS DateTime))
INSERT [dbo].[agent] ([agent_id], [agent_name], [agent_mobile], [created_by], [created_date]) VALUES (5, N'Seema Agent', N'8850402505', NULL, CAST(N'2026-09-02T20:01:08.547' AS DateTime))
GO
INSERT [dbo].[agent_work] ([agent_work_id], [work_master_id], [agent_id]) VALUES (320, 44, 7)
INSERT [dbo].[agent_work] ([agent_work_id], [work_master_id], [agent_id]) VALUES (321, 20, 7)
INSERT [dbo].[agent_work] ([agent_work_id], [work_master_id], [agent_id]) VALUES (322, 46, 7)
GO
SET IDENTITY_INSERT [dbo].[bill] ON 

INSERT [dbo].[bill] ([bill_id], [bill_name]) VALUES (63, N'Basit')
INSERT [dbo].[bill] ([bill_id], [bill_name]) VALUES (64, N'Dakshaben Ashwinkumar Darji')
INSERT [dbo].[bill] ([bill_id], [bill_name]) VALUES (65, N'Ganga Sagar Devikant Pandey')
SET IDENTITY_INSERT [dbo].[bill] OFF
GO
SET IDENTITY_INSERT [dbo].[customer] ON 

INSERT [dbo].[customer] ([customer_id], [name], [mobile], [bill_id]) VALUES (106, N'Basit', NULL, 63)
INSERT [dbo].[customer] ([customer_id], [name], [mobile], [bill_id]) VALUES (107, N'Dakshaben Ashwinkumar Darji', NULL, 64)
INSERT [dbo].[customer] ([customer_id], [name], [mobile], [bill_id]) VALUES (108, N'Ganga Sagar Devikant Pandey', NULL, 65)
SET IDENTITY_INSERT [dbo].[customer] OFF
GO
SET IDENTITY_INSERT [dbo].[expense] ON 

INSERT [dbo].[expense] ([expense_id], [reason], [expense_date], [expense_description], [expense_amount], [expense_mode]) VALUES (30, N'Printer Purchase', CAST(N'2026-08-16T12:43:00.000' AS DateTime), N'Naya Brother ka Printer liye', CAST(13503.00 AS Decimal(10, 2)), N'Cash')
INSERT [dbo].[expense] ([expense_id], [reason], [expense_date], [expense_description], [expense_amount], [expense_mode]) VALUES (31, N'Counter Purchase', CAST(N'2026-08-16T12:44:00.000' AS DateTime), N'Virar se Counter liye', CAST(1150.00 AS Decimal(10, 2)), N'Cash')
INSERT [dbo].[expense] ([expense_id], [reason], [expense_date], [expense_description], [expense_amount], [expense_mode]) VALUES (32, N'Paper Bundle', CAST(N'2026-08-16T12:44:00.000' AS DateTime), N'Paper ka 1 bundle liye', CAST(420.00 AS Decimal(10, 2)), N'Cash')
SET IDENTITY_INSERT [dbo].[expense] OFF
GO
SET IDENTITY_INSERT [dbo].[status_master] ON 

INSERT [dbo].[status_master] ([status_master_id], [status]) VALUES (1, N'Pending')
INSERT [dbo].[status_master] ([status_master_id], [status]) VALUES (2, N'Process')
INSERT [dbo].[status_master] ([status_master_id], [status]) VALUES (3, N'Query')
SET IDENTITY_INSERT [dbo].[status_master] OFF
GO
SET IDENTITY_INSERT [dbo].[transaction_master] ON 

INSERT [dbo].[transaction_master] ([transaction_master_id], [work_id], [mode], [transaction_amount], [transaction_date]) VALUES (163, 106, N'Cash', CAST(100.00 AS Decimal(10, 2)), CAST(N'2026-08-16T12:35:27.000' AS DateTime))
INSERT [dbo].[transaction_master] ([transaction_master_id], [work_id], [mode], [transaction_amount], [transaction_date]) VALUES (164, 107, N'Cash', CAST(300.00 AS Decimal(10, 2)), CAST(N'2026-08-16T12:37:44.000' AS DateTime))
INSERT [dbo].[transaction_master] ([transaction_master_id], [work_id], [mode], [transaction_amount], [transaction_date]) VALUES (165, 108, N'Cash', CAST(300.00 AS Decimal(10, 2)), CAST(N'2026-08-16T12:38:18.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[transaction_master] OFF
GO
SET IDENTITY_INSERT [dbo].[work] ON 

INSERT [dbo].[work] ([work_id], [customer_id], [work_master_id], [status_master_id], [application_id], [total_amount], [received_amount], [work_taken_date], [fee], [profit], [description], [agent_name]) VALUES (106, 106, 15, 5, NULL, CAST(100.00 AS Decimal(10, 2)), CAST(100.00 AS Decimal(10, 2)), CAST(N'2026-08-16T12:35:27.000' AS DateTime), CAST(0.00 AS Decimal(10, 2)), CAST(100.00 AS Decimal(10, 2)), NULL, N'Zayd')
INSERT [dbo].[work] ([work_id], [customer_id], [work_master_id], [status_master_id], [application_id], [total_amount], [received_amount], [work_taken_date], [fee], [profit], [description], [agent_name]) VALUES (107, 107, 14, 2, NULL, CAST(300.00 AS Decimal(10, 2)), CAST(300.00 AS Decimal(10, 2)), CAST(N'2026-08-16T12:37:44.000' AS DateTime), CAST(117.00 AS Decimal(10, 2)), CAST(183.00 AS Decimal(10, 2)), NULL, N'Zayd')
INSERT [dbo].[work] ([work_id], [customer_id], [work_master_id], [status_master_id], [application_id], [total_amount], [received_amount], [work_taken_date], [fee], [profit], [description], [agent_name]) VALUES (108, 108, 1, 2, NULL, CAST(300.00 AS Decimal(10, 2)), CAST(300.00 AS Decimal(10, 2)), CAST(N'2026-08-16T12:38:18.000' AS DateTime), CAST(117.00 AS Decimal(10, 2)), CAST(183.00 AS Decimal(10, 2)), NULL, N'Zayd')
SET IDENTITY_INSERT [dbo].[work] OFF
GO
SET IDENTITY_INSERT [dbo].[work_master] ON 

INSERT [dbo].[work_master] ([work_master_id], [work], [fee], [service_charge], [tracking_link], [default_status]) VALUES (1, N'Pan Apply', CAST(117.00 AS Decimal(10, 2)), CAST(300.00 AS Decimal(10, 2)), N'https://tin.tin.proteantech.in/pantan/StatusTrack.html', 1)
INSERT [dbo].[work_master] ([work_master_id], [work], [fee], [service_charge], [tracking_link], [default_status]) VALUES (13, N'Gazette', CAST(559.00 AS Decimal(10, 2)), CAST(1200.00 AS Decimal(10, 2)), N'https://egazzete.mahaonline.gov.in/FORMS/CitizenApplicationStatus.aspx', 1)
INSERT [dbo].[work_master] ([work_master_id], [work], [fee], [service_charge], [tracking_link], [default_status]) VALUES (14, N'Pan Correction', CAST(117.00 AS Decimal(10, 2)), CAST(300.00 AS Decimal(10, 2)), N'https://tin.tin.proteantech.in/pantan/StatusTrack.html', 1)
SET IDENTITY_INSERT [dbo].[work_master] OFF
GO
ALTER TABLE [dbo].[transaction_master] ADD  DEFAULT (getdate()) FOR [transaction_date]
GO
ALTER TABLE [dbo].[work] ADD  DEFAULT (getdate()) FOR [work_taken_date]
GO
ALTER TABLE [dbo].[work] ADD  DEFAULT ((0)) FOR [fee]
GO
ALTER TABLE [dbo].[work] ADD  DEFAULT ((0)) FOR [profit]
GO
ALTER TABLE [dbo].[agent_work]  WITH CHECK ADD  CONSTRAINT [FK__agent_wor__agent__0C1BC9F9] FOREIGN KEY([agent_id])
REFERENCES [dbo].[agent] ([agent_id])
GO
ALTER TABLE [dbo].[agent_work] CHECK CONSTRAINT [FK__agent_wor__agent__0C1BC9F9]
GO
ALTER TABLE [dbo].[agent_work]  WITH CHECK ADD  CONSTRAINT [FK__agent_wor__work___7CD98669] FOREIGN KEY([work_master_id])
REFERENCES [dbo].[work_master] ([work_master_id])
GO
ALTER TABLE [dbo].[agent_work] CHECK CONSTRAINT [FK__agent_wor__work___7CD98669]
GO
ALTER TABLE [dbo].[transaction_master]  WITH CHECK ADD FOREIGN KEY([work_id])
REFERENCES [dbo].[work] ([work_id])
GO
ALTER TABLE [dbo].[transaction_master]  WITH CHECK ADD FOREIGN KEY([work_id])
REFERENCES [dbo].[work] ([work_id])
GO
ALTER TABLE [dbo].[work]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[work]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[work]  WITH CHECK ADD FOREIGN KEY([status_master_id])
REFERENCES [dbo].[status_master] ([status_master_id])
GO
ALTER TABLE [dbo].[work]  WITH CHECK ADD FOREIGN KEY([status_master_id])
REFERENCES [dbo].[status_master] ([status_master_id])
GO
ALTER TABLE [dbo].[work]  WITH CHECK ADD FOREIGN KEY([work_master_id])
REFERENCES [dbo].[work_master] ([work_master_id])
GO
ALTER TABLE [dbo].[work]  WITH CHECK ADD FOREIGN KEY([work_master_id])
REFERENCES [dbo].[work_master] ([work_master_id])
GO
/****** Object:  StoredProcedure [dbo].[sp_calcTotal]    Script Date: 24-09-2026 10:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    
CREATE PROC [dbo].[sp_calcTotal]      
(      
    @StartDate DATE,  
    @EndDate DATE      
)      
AS      
BEGIN      
    WITH TransactionSummary AS (      
        SELECT       
            work_id,      
            SUM(CASE WHEN mode = 'Cash' THEN transaction_amount ELSE 0 END) AS Cash_Paid,      
            SUM(CASE WHEN mode = 'Online' THEN transaction_amount ELSE 0 END) AS Online_Paid      
        FROM transaction_master      
        GROUP BY work_id      
    )      
    SELECT       
        -- Totals for Work Columns (Summed from the 'work' table)      
        SUM(w.total_amount) AS [Total Amount],      
    
        --SUM(CASE WHEN ts.Cash_Paid > 0 THEN w.total_amount ELSE 0 END) AS [Total Amount Cash],      
        --SUM(CASE WHEN ts.Online_Paid > 0 THEN w.total_amount ELSE 0 END) AS [Total Amount Online],      
          
        SUM(CASE WHEN ts.Cash_Paid > 0 THEN w.received_amount ELSE 0 END) AS [Received Amount Cash],      
        SUM(CASE WHEN ts.Online_Paid > 0 THEN w.received_amount ELSE 0 END) AS [Received Amount Online],     
            
        SUM(w.fee) AS [Fee],      
          
        SUM(w.balance_amount) AS [Balance Amount],      
            
        --SUM(CASE WHEN ts.Cash_Paid > 0 THEN w.balance_amount ELSE 0 END) AS [Balance Amount Cash],      
        --SUM(CASE WHEN ts.Online_Paid > 0 THEN w.balance_amount ELSE 0 END) AS [Balance Amount Online],      
      
        -- Totals for Transaction Column (Summed from our summary)      
        SUM(ts.Cash_Paid) AS [Total Transaction Cash],      
        SUM(ts.Online_Paid) AS [Total Transaction Online]      
      
    FROM work w      
    LEFT JOIN TransactionSummary ts ON w.work_id = ts.work_id      
    WHERE work_taken_date >= @StartDate AND work_taken_date < @EndDate  
END
GO
/****** Object:  StoredProcedure [dbo].[sp_crud_work_master]    Script Date: 24-09-2026 10:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_crud_work_master]    
(    
    @crud VARCHAR(20),    
    @work_master_id VARCHAR(255) = NULL,    
    @work VARCHAR(255) = NULL,    
    @fee DECIMAL(10,2) = 0,    
    @service_charge DECIMAL(10,2) = 0,    
    @tracking_link VARCHAR(MAX) = NULL,
    @default_status BIGINT = 0
)    
AS    
BEGIN    
    BEGIN TRY    
        BEGIN TRANSACTION    
    
        IF @crud = 'INSERT'    
        BEGIN    
    
            INSERT INTO work_master (work, fee, service_charge, tracking_link, default_status)    
            VALUES(@work, @fee, @service_charge, @tracking_link, @default_status)    
    
        END    
        ELSE IF @crud = 'UPDATE'    
        BEGIN    
                
            UPDATE work_master    
            SET    
               work = @work,    
               fee = @fee,    
               service_charge = @service_charge,    
               tracking_link = @tracking_link,
               default_status = @default_status
            WHERE work_master_id = @work_master_id    
    
        END    
        ELSE IF @crud = 'DELETE'    
        BEGIN    
    
            DELETE FROM work_master WHERE work_master_id = @work_master_id    
    
        END    
    
        COMMIT TRANSACTION    
    END TRY    
    BEGIN CATCH    
        ROLLBACK TRANSACTION    
    END CATCH    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrudAgent]    Script Date: 24-09-2026 10:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_CrudAgent]  
(  
    -- CRUD  
    @crud VARCHAR(20) = NULL,  
  
    -- AGENT  
    @agent_id BIGINT = NULL,  
    @agent_name VARCHAR(255) = NULL,  
    @agent_mobile VARCHAR(10) = NULL,  
    @created_by VARCHAR(255) = NULL,  
  
    -- AGENT_WORK_TYPE  
    @agent_work_type agent_work_type READONLY  
)  
AS  
BEGIN  
    BEGIN TRY  
        BEGIN TRANSACTION  
  
        IF @crud = 'INSERT'  
        BEGIN  
            -- AGENT  
            INSERT INTO agent  
            (agent_id, agent_name, agent_mobile, created_by, created_date)  
            VALUES  
            (@agent_id, @agent_name, @agent_mobile, @created_by, GETDATE())  
  
            -- AGENT_WORK  
            INSERT INTO agent_work  
            (agent_work_id,work_master_id, agent_id)  
            SELECT   
            agent_work_id, work_master_id, agent_id  
            FROM  
            @agent_work_type  
        END
        ELSE IF @crud = 'UPDATE'
        BEGIN
            -- AGENT  
            UPDATE agent SET
                agent_name = @agent_name,
                agent_mobile = @agent_mobile 
            WHERE
            agent_id = @agent_id

            -- AGENT_WORK
            DELETE FROM agent_work  
            WHERE agent_id = @agent_id

            INSERT INTO agent_work  
            (agent_work_id,work_master_id, agent_id)  
            SELECT   
            agent_work_id, work_master_id, agent_id  
            FROM  
            @agent_work_type

        END
        ELSE IF @crud = 'DELETE'
        BEGIN
            -- AGENT_WORK  
            DELETE FROM agent_work  
            WHERE agent_id = @agent_id 
  
            -- AGENT  
            DELETE FROM agent  
            WHERE agent_id = @agent_id
        END
  
        COMMIT TRANSACTION  
    END TRY  
    BEGIN CATCH  
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH  
END;  
GO
/****** Object:  StoredProcedure [dbo].[sp_CrudEntry]    Script Date: 24-09-2026 10:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_CrudEntry]                        
(                        
  @crud varchar(100),                        
                         
  -- BILL                  
  @bill_id bigint = null,                  
  @bill_name varchar(255) = null,                  
                     
  -- CUSTOMER                        
  @customer_id bigint = null,                        
  @name varchar(255) = null,                         
  @mobile varchar(10) = null,                        
                        
  -- WORK                        
  @work_id bigint = null,                        
  @work_master_id bigint = null,                        
  @status_master_id bigint = null,                        
  @application_id varchar(max) = null,                        
  @total_amount decimal(10,2) = null,                        
  @received_amount decimal(10,2) = null,                        
  @work_taken_date datetime = null,                        
  @fee decimal(10,2) = null,          
  @description varchar(max) = null,          
  @agent_name varchar(255) = null,          
          
  -- TRANSACTION                        
  @transaction_master_id bigint = null,                        
  @mode varchar(100) = null,                        
  @transaction_amount decimal(10,2) = null,                        
  @transaction_date datetime = null                        
)                        
as                        
begin                        
                         
  begin try                        
    begin transaction                        
                        
    if @crud = 'INSERT'                        
    begin                        
                              
      if @bill_id is not null                
      begin                
          -- CUSTOMER                        
          insert into customer(name, mobile, bill_id) values                        
          (@name, @mobile, @bill_id)                        
      end                
      else                
      begin                
          -- BILL                  
          insert into bill(bill_name) values                  
          (@bill_name)                  
                          
          declare @bill_id_max bigint = scope_identity()                  
                              
          -- CUSTOMER                        
          insert into customer(name, mobile, bill_id) values                        
          (@name, @mobile, @bill_id_max)                         
      end                       
                      
      declare @customer_id_max bigint = scope_identity()                        
                        
      -- WORK                        
      insert into work          
      (customer_id, work_master_id, status_master_id, application_id, total_amount, received_amount          
      , work_taken_date, fee, description, agent_name)          
      values                        
      (@customer_id_max, @work_master_id, @status_master_id, @application_id, @total_amount, 0          
      , @work_taken_date, @fee, @description, @agent_name)                              
                        
      declare @work_id_max bigint = scope_identity()                        
                        
      -- TRANSACTION                        
      insert into transaction_master(work_id, mode, transaction_amount, transaction_date) values                        
      (@work_id_max, @mode, @transaction_amount, @transaction_date)                        
                        
      exec sp_update_amount @work_id = @work_id_max                
                      
    end                        
    else if @crud = 'UPDATE'                        
    begin                        
                              
      -- BILL                  
      update bill set                  
        bill_name = ISNULL(@bill_name, bill_name)                   
      where bill_id = @bill_id                        
                              
      -- CUSTOMER              
      update customer set                         
        name = isnull(@name, name),                        
        mobile = isnull(@mobile, mobile),    
        bill_id = ISNULL(@bill_id, bill_id)    
      where customer_id = @customer_id                         
                        
      -- WORK                        
      update work set                         
        work_master_id = @work_master_id,                
        status_master_id = @status_master_id,                        
        application_id = isnull(@application_id, application_id),                        
        total_amount = isnull(@total_amount, total_amount),            
        work_taken_date = isnull(@work_taken_date, work_taken_date),                    
        fee = isnull(@fee, fee),          
        description = isnull(@description, description),          
        agent_name = isnull(@agent_name, agent_name)          
      where work_id = @work_id                        
                        
      -- TRANSACTION                        
      if @transaction_amount != 0                        
      begin                        
          insert into transaction_master(work_id, mode, transaction_amount, transaction_date) values                        
          (@work_id, @mode, @transaction_amount, @transaction_date)                  
                        
          exec sp_update_amount @work_id = @work_id                        
      end                        
                        
    end                        
    else if @crud = 'DELETE'                 
    begin                        
        -- 1. TRANSACTION                        
        delete from transaction_master where work_id = @work_id;                        
                        
        -- 2. WORK                        
        delete from work where customer_id = @customer_id;                 
                        
        -- 3. BILL CHECK (Do this BEFORE deleting the customer)            
        -- First, get the bill_id for this specific customer so we don't hardcode '13'            
        declare @current_bill_id bigint;            
        select @current_bill_id = bill_id             
        from customer             
        where customer_id = @customer_id;            
            
        declare @isAloneBillId int;            
                  
        -- Count how many customers are sharing this bill            
        select @isAloneBillId = COUNT(*)             
        from customer             
        where bill_id = @current_bill_id;            
                        
        -- 4. CUSTOMER (Delete the customer now)                        
        delete from customer where customer_id = @customer_id;                       
                        
        -- 5. DELETE BILL (If that customer was the absolute last one holding the bill)            
        if @isAloneBillId = 1            
        begin            
            delete from bill where bill_id = @current_bill_id;                 
        end            
    end             
                        
    commit transaction                        
  end try                        
  begin catch                        
    IF @@TRANCOUNT > 0                         
    ROLLBACK TRANSACTION;                        
                        
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();                        
    RAISERROR(@ErrorMessage, 16, 1);                        
                        
  end catch                     
end 
GO
/****** Object:  StoredProcedure [dbo].[sp_CrudExpense]    Script Date: 24-09-2026 10:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE proc [dbo].[sp_CrudExpense]      
(      
    @crud varchar(50),      
    @expense_id bigint = null,      
    @expense_amount decimal(10,2) = null,    
    @reason varchar(225) = null,      
    @expense_date datetime = null,      
    @expense_description varchar(max) = null,
    @expense_mode varchar(100) = null
)      
as      
begin      
    begin try      
              
        if @crud = 'INSERT'      
        begin      
            insert into expense (reason, expense_date, expense_description, expense_amount, expense_mode)      
            values      
            (@reason, @expense_date, @expense_description, ISNULL(@expense_amount, '0'), @expense_mode)      
        end      
        else if @crud = 'UPDATE'      
        begin      
            update expense set       
            reason = @reason,      
            expense_date = @expense_date,      
            expense_description = @expense_description,    
            expense_amount = ISNULL(@expense_amount, '0'),
            expense_mode = @expense_mode
            where expense_id = @expense_id      
        end      
        else if @crud = 'DELETE'      
        begin      
            delete from expense where expense_id = @expense_id      
        end      
      
    end try      
    begin catch      
              
        IF @@TRANCOUNT > 0                     
        ROLLBACK TRANSACTION;                    
                    
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();                    
        RAISERROR(@ErrorMessage, 16, 1);      
      
    end catch      
end 
GO
/****** Object:  StoredProcedure [dbo].[sp_crudTransaction]    Script Date: 24-09-2026 10:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    
CREATE PROC [dbo].[sp_crudTransaction]    
(    
    @crud VARCHAR(50),    
    @work_id BIGINT,  
    @transaction_master_id BIGINT,    
    @mode VARCHAR(50) = NULL,    
    @transaction_amount DECIMAL(10,2) = NULL,    
    @transaction_date DATETIME = NULL,    
    @message VARCHAR(MAX) OUT    
)    
AS    
BEGIN    
    SET NOCOUNT ON;    
    
    BEGIN TRY    
        BEGIN TRANSACTION    
    
        IF @crud = 'UPDATE'    
            BEGIN    
                UPDATE transaction_master    
                SET    
                    mode = ISNULL(@mode, mode),    
                    transaction_amount = ISNULL(@transaction_amount, transaction_amount),    
                    transaction_date = ISNULL(@transaction_date, transaction_date)    
                WHERE transaction_master_id = @transaction_master_id;  
                  
                EXEC dbo.sp_update_amount @work_id = @work_id  
    
                SET @message = 'Transaction updated successfully.';    
            END    
        ELSE IF @crud = 'DELETE'    
            BEGIN    
                DELETE FROM transaction_master    
                WHERE transaction_master_id = @transaction_master_id;    
    
                EXEC dbo.sp_update_amount @work_id = @work_id  
  
                SET @message = 'Transaction deleted successfully.';    
            END    
        ELSE    
            BEGIN    
                -- You must use the SET keyword to assign a value to a variable    
                SET @message = 'Invalid CRUD operation.';    
            END    
    
        COMMIT TRANSACTION    
    END TRY    
    BEGIN CATCH    
        -- Ensure there is a transaction to rollback    
        IF @@TRANCOUNT > 0    
            ROLLBACK TRANSACTION;    
    
        -- Capture the actual system error message    
        SET @message = 'Error: ' + ERROR_MESSAGE();    
    END CATCH    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DashboardData]    Script Date: 24-09-2026 10:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_DashboardData]      
(    
    @from_date DATETIME,    
    @to_date DATETIME    
)    
AS    
BEGIN    
    WITH   
    Transaction_Summary AS (  
        SELECT   
            work_id,  
            SUM(CASE WHEN mode = 'Cash' THEN transaction_amount ELSE 0 END) AS Cash_Transaction,  
            SUM(CASE WHEN mode = 'Online' THEN transaction_amount ELSE 0 END) AS Online_Transaction  
        FROM transaction_master  
        WHERE transaction_date >= @from_date and transaction_date <= @to_date  
        GROUP BY work_id  
    ),  
    Work_Summary AS(  
        SELECT w.work_id, wm.work, w.balance_amount, w.total_amount, w.fee FROM work w  
        JOIN work_master wm ON w.work_master_id= wm.work_master_id  
        WHERE work_taken_date >= @from_date and work_taken_date <= @to_date  
    ),  
    Expense_Summary AS(  
        SELECT  
        expense_id,  
        CASE WHEN expense_mode = 'Cash' THEN expense_amount ELSE 0 END AS Cash_Expense,  
        CASE WHEN expense_mode = 'Online' THEN expense_amount ELSE 0 END AS Online_Expense  
        FROM expense  
        WHERE expense_date >= @from_date and expense_date <= @to_date  
    )  
    SELECT   
    'Transaction' AS ' ', SUM (Cash_Transaction) AS Cash, SUM(Online_Transaction) AS Online, 0 AS Fee
    FROM Transaction_Summary  
    UNION  
    SELECT  
    'Exp', SUM (Cash_Expense), SUM(Online_Expense), 0  
    FROM Expense_Summary  
    UNION  
    SELECT  
    'Work' , SUM (total_amount), SUM(balance_amount), SUM(fee)  
    FROM Work_Summary    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_amount]    Script Date: 24-09-2026 10:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_update_amount]      
(      
  @work_id bigint      
)      
as      
begin      
      
  begin try      
  
    update work   
    set received_amount = ISNULL((select sum(transaction_amount) from transaction_master where work_id = @work_id), 0)  
    where work_id = @work_id  
      
    update work   
    set profit = (received_amount - fee)  
    where work_id = @work_id  

  end try      
  begin catch      
    throw      
  end catch      
      
end
GO
USE [master]
GO
